/* Body Section */

body { background-color: #EEE; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
	font-family: "Georgia","Helvetica Neue", Helvetica, Arial, sans-serif !important; font-weight: 700; }

.btn-wrapper { border-top: 1px solid #EEE; padding-top: 25px; margin-top: 15px; }


/* Post Section */

.post .post-info { font-size: 13px; color: #A25F5B; }
.post .post-info a { color: #A25F5B; }

/* Search Widget */

.search input[type=button] { border: none; padding: 0; height: 40px; width: 25%; background-color: #A25F5B; color: #fff; border-radius: 4px; }

